h1{
    color:red;
}
.highlight{
    background-color: yellow;
}
#content p{
    font-size: 16px;
}
#header{
    background-color:lightgrey;
    padding: 10px;
}
ul li:first-child{
    font-weight: bold;
}